.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #eee;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
    position: fixed;
    z-index: 2;
}
