.sidebar {
    min-width: 10rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid rgba(128, 128, 128, 0.329);
    padding-top: 6rem;
    min-width: 12rem;
    z-index: 1;
}

.sidebar ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.sidebar p {
    opacity: 50%;
    padding: 1rem;
}
.tags  {
   padding:0 1rem;
}
.tags li{
    display: flex;
    align-items: center;
    gap: .7rem;
    cursor: pointer;
}
.tagicon {
    transform: rotate(45deg);
}
.tags li span{
    font-size: .6rem;
    color: gray;
}

.clear{
    border: none;
    padding: .2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: .7rem;
    background-color: rgb(22, 21, 21);
    color: white;
    transition: all .3s ease-in-out;
}
.clear:hover{
    background-color: white;
    color:  rgb(22, 21, 21);
}