.sidebar {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 1px 5px 5px 0 #7c7a7a;
    padding-top: 6rem;
    min-width: 12rem;
}

.sidebar ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.sidebar p {
    opacity: 50%;
    padding: 1rem;
}
.tags  {
   padding:0 1rem;
}
.tags li{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.tagicon {
    transform: rotate(45deg);
}
.tags li span{
    font-size: .6rem;
    color: gray;
}