.icons{
    display: flex;
    justify-content: flex-end;
    gap: .2rem;
}
.icons *{
    cursor: pointer;
}
.txt {
    overflow: hidden;
text-overflow:ellipsis;

}
.txt *:focus{
    outline: none;
    border-bottom: 1px solid gray;
  }
  .txt p {
    font-size: .8rem;
    margin-top: .5rem;
  }