.icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.icons * {
  cursor: pointer;
  color:rgb(49, 48, 48)
}
.txt {
  overflow: hidden;
  text-overflow: ellipsis;
}
.txt *:focus {
  outline: none;
  border-bottom: 1px solid gray;
}
.txt p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottomTxt{
    display: flex;
    gap: .5rem;
    font-size: .6rem;
}
