.modal{
    z-index: 21;
    padding: 2rem;
    width: 50%;
    position: fixed;
    background-color: white;
    margin: 10% 25%;
    border-radius: 1rem;
    box-shadow: 0 1px 5px 0 gray;
   
    animation: slideup .3s ease-in-out forwards;
}


@keyframes slideup {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);

    }
}